In [1]:
my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
new_list = []

for i in my_list:
    new_i = i * 33
    new_list.append(new_i)

In [3]:
new_list

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [4]:
def shift_letter(letter, shift):
    '''Shift Letter. 
    5 points.
    
    Shift a letter right by the given number.
    Wrap the letter around if it reaches the end of the alphabet.

    Examples:
    shift_letter("A", 0) -> "A"
    shift_letter("A", 2) -> "C"
    shift_letter("Z", 1) -> "A"
    shift_letter("X", 5) -> "C"
    shift_letter(" ", _) -> " "

    *Note: the single underscore `_` is used to acknowledge the presence
        of a value without caring about its contents.

    Parameters
    ----------
    letter: str
        a single uppercase English letter, or a space.
    shift: int
        the number by which to shift the letter. 

    Returns
    -------
    str
        the letter, shifted appropriately, if a letter.
        a single space if the original letter was a space.
    '''
    # Replace `pass` with your code. 
    # Stay within the function. Only use the parameters as input. The function should return your answer.
    if letter == ' ': return ' '
    letter = ord(letter) - ord('A')
    letter = letter + shift
    letter = letter % 26
    return chr(letter + ord('A'))

In [5]:
message = 'HELLO WORLD'
shift = 3

new_message = ''

for character in message:
    new_character = shift_letter(character, shift)
    new_message = new_message + new_character

In [7]:
message

'HELLO WORLD'

In [6]:
new_message

'KHOOR ZRUOG'

In [8]:
# Filter

my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Retain only the even numbers

new_list = []

for i in my_list:
    if i % 2 == 0:
        new_list.append(i)

In [10]:
new_list

[2, 4, 6, 8, 10]

In [11]:
# Aggregation

my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# Get the product of all the elements

my_product = 1

for i in my_list:
    my_product = my_product * i

In [13]:
my_product

3628800

In [15]:
subtotals = [10.5, 15, 3, 7]

# Get the sum of the subtotals (in PESOS) where the amount was big (i.e., greater than 10)
my_sum = 0
for item in subtotals:
    if item <= 10:
        continue
    peso_amount = item * 60
    my_sum = my_sum + peso_amount

In [16]:
my_sum

1530.0

In [19]:
def multiply_by_33(x):
    return x * 33

my_list = list(range(1, 11))

list(map(multiply_by_33, my_list))

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [20]:
my_list = list(range(1, 11))

new_list = []

for i in my_list:
    new_i = i * 33
    new_list.append(new_i)

new_list

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [24]:
def make_upper(x):
    return x.upper()

'<map object at 0x10c0ee0e0>'

In [26]:
list(map(
    shift_letter,
    "hello world"
))

TypeError: shift_letter() missing 1 required positional argument: 'shift'

In [28]:
list(map(lambda x: shift_letter(x, 3), "HELLO WORLD"))

['K', 'H', 'O', 'O', 'R', ' ', 'Z', 'R', 'U', 'O', 'G']

In [29]:
def shift_by_3(x):
    return shift_letter(x, 3)

list(map(shift_by_3, "HELLO WORLD"))

['K', 'H', 'O', 'O', 'R', ' ', 'Z', 'R', 'U', 'O', 'G']

In [30]:
my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
[i * 33 for i in my_list]

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [ ]:
t1 = [
    ['item_sold', 'quantity'],
    ['Chicken', 1]
]

# Comma-separated values
t2 = '''
item_sold,quantity
Chicken,1
'''

t3 = [
    {'item_sold': 'Chicken', 'quantity': 1},
    {'item_sold': 'Milk tea', 'quantity': 2}
]

t4 = {
    'item_sold': ['Chicken', 'Milk tea'],
    'quantity': [1, 2],
}

In [33]:
import csv

data = []
with open('sqllab_untitled_query_1_20250702T085110.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row)

In [39]:
import pandas as pd

df = pd.read_csv('sqllab_untitled_query_1_20250702T085110.csv')

df

# What is the peso value of all sales by Dell

# df = df[df['product_brand'] == 'Dell'][['product_price', 'line_item_quantity']]

# (df['product_price'] * 60 * df['line_item_quantity']).sum()

is_dell = df['product_brand'] == 'Dell'

In [40]:
is_dell

0      False
1       True
2      False
3      False
4      False
       ...
105    False
106    False
107    False
108    False
109    False
Name: product_brand, Length: 110, dtype: bool