In [ ]:
my_list = [1, 2, 3]
my_dictionary = {
    'one': 1,
    'two': 2,
    'three': 3,
}

In [1]:
# Mapping

my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
my_list_2 = []
for number in my_list:
    new_number = number * 33
    my_list_2.append(new_number)

In [3]:
my_list_2

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [4]:
def shift_letter(letter, shift):
    '''Shift Letter. 
    5 points.
    
    Shift a letter right by the given number.
    Wrap the letter around if it reaches the end of the alphabet.

    Examples:
    shift_letter("A", 0) -> "A"
    shift_letter("A", 2) -> "C"
    shift_letter("Z", 1) -> "A"
    shift_letter("X", 5) -> "C"
    shift_letter(" ", _) -> " "

    *Note: the single underscore `_` is used to acknowledge the presence
        of a value without caring about its contents.

    Parameters
    ----------
    letter: str
        a single uppercase English letter, or a space.
    shift: int
        the number by which to shift the letter. 

    Returns
    -------
    str
        the letter, shifted appropriately, if a letter.
        a single space if the original letter was a space.
    '''
    # Replace `pass` with your code. 
    # Stay within the function. Only use the parameters as input. The function should return your answer.
    if letter == ' ': return ' '
    letter = ord(letter) - ord('A')
    letter = letter + shift
    letter = letter % 26
    return chr(letter + ord('A'))

In [5]:
message = "HELLO WORLD"
shift = 3

new_message = ""

for character in message:
    new_message = new_message + shift_letter(character, shift)

In [6]:
new_message

'KHOOR ZRUOG'

In [8]:
# Filtering

my_list = list(range(1, 11))

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Retain the even numbers

new_list = []

for element in my_list:
    if element % 2 == 0:
        new_list.append(element)

In [10]:
new_list

[2, 4, 6, 8, 10]

In [11]:
def is_even(x):
    return x % 2 == 0

new_list = []

for element in my_list:
    if is_even(element):
        new_list.append(element)

In [12]:
new_list

[2, 4, 6, 8, 10]

In [15]:
# Higher-order function `map`

my_list = list(range(1, 11))

def multiply_by_33(x):
    return x * 33

list(map(multiply_by_33, my_list))

[33, 66, 99, 132, 165, 198, 231, 264, 297, 330]

In [17]:
# Higher-order function `filter`

my_list = list(range(1, 11))

def is_even(x):
    return x % 2 == 0

list(filter(is_even, my_list))

[2, 4, 6, 8, 10]

In [18]:
# Aggregation

my_list = list(range(1, 11))

# Add all the numbers in the collection together

my_sum = 0
for number in my_list:
    my_sum = my_sum + number

In [19]:
my_sum

55

In [21]:
table_1 = [
    ['item_sold', 'quantity'],
    ['Chicken', 1],
    ['Iced tea', 2],
]

table_2 = {
    'item_sold': ['Chicken', 'Iced tea'],
    'quantity': [1, 2],
}

table_3 = '''
item_sold,quantity
Chicken,1
Iced tea,2
'''

table_4 = [
    {'item_sold': 'Chicken', 'quantity': 1},
    {'item_sold': 'Iced tea', 'quantity': 2},
    {'item_sold': 'Milk tea', 'quantity': 1},
    {'item_sold': 'Chicken', 'quantity': 3},
    {'item_sold': 'Milk tea', 'quantity': 1},
]

In [22]:
milk_teas = 0
for record in table_4:
    if record['item_sold'] == 'Milk tea':
        milk_teas = milk_teas + record['quantity']

In [23]:
milk_teas

2

In [24]:
import pandas as pd

dataframe = pd.DataFrame(table_4)

In [25]:
dataframe

  item_sold  quantity
0   Chicken         1
1  Iced tea         2
2  Milk tea         1
3   Chicken         3
4  Milk tea         1

In [26]:
dataframe[dataframe['item_sold'] == 'Milk tea']['quantity'].sum()

np.int64(2)